<nav>
  <div class="nav-wrapper center-align">
    <div class="container">
      <div class="row">

        <div class="col s4">
          <ul id="nav-mobile" class=" hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/pokemon">Favorites</a></li>
          </ul>
        </div>
        <div class="col s4">
          <img src="/img/logo.png" id="logo" />
        </div>
        <form method="GET" action="/pokemon/" id="search">
          <div class="col s3">
            <input type="text" id="search-field" name="search">
          </div>
          <div class="col s1">
            <button id="search-btn"><i class='material-icons'>search</i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
